<ng-container *ngIf="navPageIndex$ | async as index">
    <div class="navigation">
        <button [ngClass]="{'nav-active' : index === 1}" mat-button color="primary" class="navigation-btn"
        (click)="navigate(1)">Rating</button>
        <button [ngClass]="{'nav-active' : index === 2}" mat-button color="primary" class="navigation-btn"
        (click)="navigate(2)">State Testing</button>
    </div>
    
    <div class="page">
    <app-rating-tests *ngIf="index === 1"></app-rating-tests>
    <app-state-test *ngIf="index === 2"></app-state-test>
    </div>
</ng-container>


