// global vars
:root {
  --primary-color: #c2185b;
}


.page {
    width: 100vw;
    height: auto;
    padding: 0 4rem;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.page > * {
    box-sizing: border-box;
}

.app-title{
   color: rgb(134, 134, 134);
   font-size: 1.4em;
}

.section{
    width: 45%;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
